<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>
                    <a href="" class="title"> 3DPDesign</a>
                </h1>
            </div>
            <div class="col-md-9" >
                <div>
                    <a class="header_button btn btn-link" (click)="logout()" *ngIf="authService.isAuthenticated()">Logout</a>
                </div>
                <div>
                    <a href="/login" class="header_button btn btn-link" *ngIf="!authService.isAuthenticated()">Login</a>
                </div>
                <div> 
                    <a href="/" class="header_button btn btn-link" >Contact</a>
                </div>
                <div> 
                    <a href="/" class="header_button btn btn-link" >Totorials</a>
                </div>
                <div> 
                    <a href="/" class="header_button btn btn-link" >Articles</a>
                </div>
                <div>
                    <a href="/new-article" class="header_button btn btn-link" *ngIf="authService.isAuthenticated()"> New Article</a>
                </div>
                <div> 
                    <a href="/register" class="header_button btn btn-link" *ngIf="!authService.isAuthenticated()">Register</a>
                </div>     
            </div>
        </div>
    </div>
</div>
