  <div class="container">

      <div class="row">
  
        <!-- Blog Entries Column -->
        <div class="col-md-8">
  
          <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
          </h1>
  
          <!-- Blog Post -->
          <div class="card mb-4" *ngFor="let article of articles | async">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{article.title}}</h2>
              <p class="card-text">{{article.shortContent}}</p>
              <a href="/article/{{article.id}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2020 by
              <a>{{article.username}}</a>
            </div>
          </div>
  
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item" *ngIf="this.newerUrl">
              <a class="page-link" (click)="newerPage()" >&larr; Newer</a>
            </li>
            <li class="page-item disabled" *ngIf="!this.newerUrl">
              <a class="page-link" (click)="newerPage()" >&larr; Newer</a>
            </li>
            <li class="page-item disabled" *ngIf="!this.olderUrl">
              <a class="page-link" (click)="olderPage()" >Older &rarr;</a>
            </li>
            <li class="page-item" *ngIf="this.olderUrl">
              <a class="page-link" (click)="olderPage()" >Older &rarr;</a>
            </li>
          </ul>
  
        </div>